body{
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
}

td{
  text-align: right;
  width: 100px;
}
.articulo{
  text-align: left;
}
th{
  background-color: rgba(120, 228, 165, 0.897);
}

.title{
  background-color: rgb(250, 176, 40);
  color: grey;
  text-align: center;
  font-size: 25px;
}

.date{
  background-color: rgb(100, 135, 248);
  text-align: left;
}

 .tabla-2{
   float:right;
   border-collapse: collapse;
 }